.container {
	display:  flex;
	justify-content: center;
	align-items: center;
	width: 500px;
}
.authorize{
    display: block;
    height: 50px;
    width: 50px;
    padding: 0;
    background: #d10b0f;
    margin: auto;
    border: 2px solid #d10b0f;
    font-size: 18px;
    font-family: "Lato";
    color: white;
    cursor: pointer;
    border-radius: 25px;
    outline: none;
    text-align: center;
    font-weight: 600;
    font-size: 25px;

  
}
.authorize:hover{
      color: #d10b0f;
      background: white;
    }